port=53
bind-interfaces
no-dhcp-interface=/
domain-needed
bogus-priv
localise-queries
no-resolv
log-queries
log-facility=/var/log/dnsmasq.log
log-async
server=10.2.2.11
server=10.2.2.12
address=/lgtvonline.lge.com/10.3.3.24
#server=/lgtvonline.lge.com/10.3.3.24
address=/.cdpbeacon.lgtvcommon.com/10.3.3.24
address=/.cdpsvc.lgtvcommon.com/10.3.3.24
address=/.homeprv.lgtvcommon.com/10.3.3.24
address=/.recommend.lgtvcommon.com/10.3.3.24
address=/.rdl.lgtvcommon.com/10.3.3.24
#address=/.service.lgtvcommon.com/10.3.3.24
address=/.lgappstv.com/10.3.3.24
address=/.lge.com/10.3.3.24
address=/.lgsmartad.com/10.3.3.24
address=/.lgtvsdp.com/10.3.3.24
address=/.lgtviot.com/10.3.3.24
address=/.lgeapi.com/10.3.3.24
#address=/.lgtvcommon.com/10.3.3.24
address=/.thetake.com/0.0.0.0
address=/.meethue.com/0.0.0.0
address=/.ueiwsp.com/0.0.0.0
address=/.edgesuite.net/0.0.0.0
#server=/.cdpbeacon.lgtvcommon.com/10.3.3.24
#server=/.cdpsvc.lgtvcommon.com/10.3.3.24
#server=/.homeprv.lgtvcommon.com/10.3.3.24
#server=/.recommend.lgtvcommon.com/10.3.3.24
#server=/.rdl.lgtvcommon.com/10.3.3.24
#server=/.service.lgtvcommon.com/10.3.3.24
#server=/.lgappstv.com/10.3.3.24
#server=/.lge.com/10.3.3.24
#server=/.lgsmartad.com/10.3.3.24
#server=/.lgtvsdp.com/10.3.3.24
#server=/.lgtvcommon.com/10.3.3.24
#server=/.lgtviot.com/10.3.3.24
#server=/.lgeapi.com/10.3.3.24
#server=/.thetake.com/0.0.0.0
#server=/.meethue.com/0.0.0.0
#server=/.ueiwsp.com/0.0.0.0
#server=/.edgesuite.net/0.0.0.0
